spring:
  application:
    name: backend

  datasource:
    url: jdbc:mysql://localhost:3306/db_perpustakaan
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        "[dialect]": org.hibernate.dialect.MySQLDialect
        "[format_sql]": true

server:
  port: 8080

jwt:
  secret: 6Wv9r3kN2t5y8P0qX4a7F1jD6u9z2s5cR8e1w4b7t0v3m6n9
